/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*code start*/
.container {
    width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.change-to-inline-block {
    display: inline-block;
}

.first-type-box {
    width: 500px;
    height: 250px;
    background-color: chartreuse;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
    text-transform: capitalize;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.secound-type-box {
    width: 250px;
    height: 250px;
    background-color: darkblue;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
    text-transform: capitalize;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: seagreen;
}

.box3 {
    background-color: blueviolet;
}

.box4 {
    background-color: rgb(56, 158, 199);
}

.box5 {
    background-color: green;
}

.box6 {
    background-color: limegreen;
}

.box7 {
    background-color: yellow;
    text-transform: uppercase;
}

.box8 {
    background-color: orangered;
    text-transform: uppercase;
}

.box9 {
    background-color: rgb(153, 47, 47);
}